
div.antisovetyandex {
    z-index: 2147483646000000 !important;
    top: 0px !important;
    left: 0px !important;
    position: fixed !important;
    width: 100% !important;
    display: none !important;
    transform: none !important;
    pointer-events: auto !important;
}
div.antisovetyandex.castBlockBanner{
    display: block !important;
}

div.antisovetyandex * {
    animation: none 0s ease 0s 1 normal none running !important;
    backface-visibility: visible !important;
    background: transparent none repeat 0 0 / auto auto padding-box border-box scroll !important;
    border: medium none currentColor !important;
    border-collapse: separate !important;
    -o-border-image: none !important;
    border-image: none !important;
    border-radius: 0 !important;
    border-spacing: 0 !important;
    bottom: auto !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
    caption-side: top !important;
    clear: none !important;
    clip: auto !important;
    color: #000 !important;
    -moz-columns: auto !important;
    columns: auto !important;
    -moz-column-count: auto !important;
    column-count: auto !important;
    -moz-column-fill: balance !important;
    column-fill: balance !important;
    -moz-column-gap: normal !important;
    column-gap: normal !important;
    -moz-column-rule: medium none currentColor !important;
    column-rule: medium none currentColor !important;
    -moz-column-span: 1 !important;
    column-span: 1 !important;
    -moz-column-width: auto !important;
    column-width: auto !important;
    content: normal !important;
    counter-increment: none !important;
    counter-reset: none !important;
    cursor: auto !important;
    direction: ltr !important;
    display: inline !important;
    empty-cells: show !important;
    float: none !important;
    font-family: serif !important;
    font-size: medium !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    height: auto !important;
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
    left: auto !important;
    letter-spacing: normal !important;
    list-style: disc outside none !important;
    margin: 0 !important;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    opacity: 1 !important;
    orphans: 2 !important;
    outline: medium none invert !important;
    overflow: visible !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    padding: 0 !important;
    page-break-after: auto !important;
    page-break-before: auto !important;
    page-break-inside: auto !important;
    perspective: none !important;
    perspective-origin: 50% 50% !important;
    position: static !important;
    right: auto !important;
    -moz-tab-size: 8 !important;
    -o-tab-size: 8 !important;
    tab-size: 8 !important;
    table-layout: auto !important;
    text-align: left !important;
    -moz-text-align-last: auto !important;
    text-align-last: auto !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-shadow: none !important;
    text-transform: none !important;
    top: auto !important;
    transform: none !important;
    transform-origin: 50% 50% 0 !important;
    transform-style: flat !important;
    transition: none 0s ease 0s !important;
    unicode-bidi: normal !important;
    vertical-align: baseline !important;
    visibility: visible !important;
    white-space: normal !important;
    widows: 2 !important;
    width: auto !important;
    word-spacing: normal !important;
    z-index: auto !important;
    all: initial !important;
}

div.antisovetyandex * {
    box-sizing: border-box !important;

    cursor: inherit !important;
    text-align: inherit !important;
    white-space: inherit !important;

    color: inherit !important;

    font: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: normal !important;

    pointer-events: inherit !important;
}

div.antisovetyandex .as_btn_s {
    position: relative !important;
    display: inline-block !important;
    overflow: visible !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    transition: 0.1s ease-out !important;
    transition-property: border-color, border-width, background-color !important;
    text-align: center !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    color: #2b2b2b !important;
    border: 1px solid transparent !important;
    border-radius: 2px !important;
    outline: 0 !important;
    background: 0 0 !important;
    background-clip: padding-box !important;
    font-family: Arial, sans-serif !important;
}

div.antisovetyandex .as_btn_s:focus {
    outline: none !important;
}

div.antisovetyandex .as_btn_s:disabled {
    cursor: default !important;
    pointer-events: none !important;
    background-color: rgba(0, 0, 0, 0.08) !important;
}

div.antisovetyandex .as_btn_s::-moz-focus-inner {
    padding: 0 !important;
    border: 0 !important;
}

div.antisovetyandex .as_btn_x {
    color: #2b2b2b !important;
    border: solid 1px rgba(0, 0, 0, 0.2) !important;
    border-radius: 2px !important;
    background-color: #ffffff !important;
}

div.antisovetyandex .as_btn_x:focus,
div.antisovetyandex .as_btn_x:hover,
div.antisovetyandex .as_btn_x:active {
    color: #2b2b2b !important;
    border-color: rgba(0, 0, 0, 0.3) !important;
}


div.antisovetyandex .antisovet_class {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    display: block !important;
    height: 39px !important;
    cursor: pointer !important;
    transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out !important;
    text-align: left !important;
    color: #2b2b2b !important;
    font: 13px/13px Arial, sans-serif !important;
}

div.antisovetyandex .antisovet_left {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…N2LjgyNXoiIG1hc2s9InVybCgjZCkiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=) !important;
    background-size: 96px 20px !important;
    background-position: 11px 9px !important;
    margin-right: 16px !important;
    width: 96px !important;
    -ms-flex: 0 0 107px !important;
    flex: 0 0 122px !important;
    height: 39px !important;
    line-height: inherit !important;
    background-repeat: no-repeat !important;
    box-sizing: border-box !important;
    cursor: inherit !important;
    text-align: inherit !important;
    white-space: inherit !important;
    color: inherit !important;
    font: inherit !important;
    font-family: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: normal !important;
    pointer-events: inherit !important;
}


div.antisovetyandex .antisovet_class:hover {
    background-color: #ffefa6 !important;
    box-shadow: 0 1px 0 0 #d2c079 !important;
}


div.antisovetyandex .antisovet_outer {
    position: relative !important;
    z-index: 2 !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    line-height: inherit !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    left: 10px !important;
}

div.antisovetyandex .antisovet_blk {
    height: 39px !important;
    line-height: inherit !important;
}


div.antisovetyandex .antisovet_contener {
    display: -ms-flexbox !important;
    display: flex !important;
    overflow: hidden !important;
    padding-left: 4px !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -ms-flex: 1 0 0 !important;
    flex: 1 0 0 !important;
}

div.antisovetyandex .antisovet_title {
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    line-height: inherit !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

div.antisovetyandex .antisovet_separator {
    white-space: nowrap !important;
    line-height: inherit !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
}

div.antisovetyandex .antisovet_separator:before,
div.antisovetyandex .antisovet_separator:after,
div.antisovetyandex .antisovet_separator_2:before,
div.antisovetyandex .antisovet_separator_2:after {
    display: none !important;
}

div.antisovetyandex .antisovet_title_text {
    font-weight: bold !important;
}

div.antisovetyandex .antisovet_contener_2 {
    display: -ms-flexbox !important;
    display: flex !important;
    text-align: right !important;
    line-height: 39px !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    right: 36px !important;
    position: relative !important;
}

@media (min-width: 640px) {
    div.antisovetyandex .antisovet_contener_2 {
        padding-left: 24px !important;
    }
}

div.antisovetyandex .as_btn {
    height: 28px !important;
    margin-right: 4px !important;
    margin-left: 4px !important;
    padding-right: 23px !important;
    padding-left: 23px !important;
    font-size: 13px !important;
    line-height: 26px !important;
}

div.antisovetyandex .antisovet_class:hover .as_btn {
    border-color: rgba(0, 0, 0, 0.3) !important;
}

div.antisovetyandex .as_btn:first-child {
    margin-left: 0 !important;
}

div.antisovetyandex .as_btn:last-child {
    margin-right: 0 !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.antisovetyandex .antisovet_cls {
    background-color: #fadf76 !important;
    box-shadow: 0 1px 0 0 #d2c079 !important;
}

div.antisovetyandex .antisovet_cls:hover {
    background-color: #ffefa6 !important;
    box-shadow: 0 1px 0 0 #d2c079 !important;
}

div.antisovetyandex .antisovet_cls:hover {
    background-color: #ffefa6 !important;
    box-shadow: 0 1px 0 0 #d2c079 !important;
}