.postscust .units .unit .df{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.postscust .units{
	padding-top: 15px;
	margin-bottom: 45px;
}
.postscust .units .unit{
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
}
.postscust .units .unit .df .el1{
	flex-basis: 113px;
	max-width: 113px;
	min-width: 113px;
	padding-right: 13px;
}
.postscust .units .unit .df .el1 .imgwr{
	width: 100%;
	position: relative;
	height: 100px;
}
.postscust .units .unit .df .el1 .imgwr img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
.postscust .units .unit .df .el2 .val{
	padding-bottom: 16px;
}
.postscust .units .unit .df .el2 .val p{
	color: #828282;
	font-size: 14px;
	margin-bottom: 6px;
}
.postscust .units .unit .df .el2 p.tit{
	font-size: 16px;
	font-weight: 500;
	color: #4e466c;
}
.postscust .units .unit .df .el2 .tit a{
	text-decoration: underline !important;
	display: inline-block;
	margin-right: 10px;
}
.postscust .units .unit .df .el2 .tit a:hover{
	text-decoration: none !important;
}
.postscust .units .unit .df .el2 .tit i{
	color: #e05b1a;
	font-style: italic;
}
.postscust .units .unit .df .el3{
	width: 270px;
	max-width: 270px;
	min-width: 270px;
	flex-basis: 270px;
	text-align: right;
	margin-top: auto;
	margin-bottom: 0;
}
.postscust .units .unit .df .el3 a{
	font-size: 13px;
	text-decoration: underline !important;
	color: #32a4d3;
	display: inline-block;
	margin-left: 20px;
}
.postscust .units .unit .df .el3 a:hover{
	text-decoration: none !important;
}
.ncatlist .ncatpaginator span{
	border: 1px solid #d1d1d1 !important;
}
.postcatalog .tit{
	font-size: 16px;
	color: #4e466c;
}
.postcatalog .tit span.titrat{
	float: right;
	font-size: 16px;
	color: #828282;
	font-style: italic;
}
.postcatalog .tit span.imgrating{
	display: inline-block;
	margin-left: 10px;
}

.postcatalog .postscust .units .unit .df{
	flex-wrap: wrap;
}
.postcatalog .postscust .units .unit .df .el4,.postcatalog .postscust .units .unit .df .el3{
	flex-basis: 50%;
	min-width: 50%;
	max-width: 50%;
}
.postcatalog .postscust .units .unit .df .el4{
	padding-left: 100px;
}
.postcatalog .postscust .units .unit .df .el1{
	flex-basis: 100px;
	max-width: 100px;
	min-width: 100px;
	position: absolute;
	left: 0;
}
.postcatalog .postscust .units .unit .df .el2{
	padding-left: 100px;
	width: 100%;
}
.postcatalog .postscust .units .unit .df{
	position: relative;
}
.postcatalog{
	padding-bottom: 70px;
}
.postcatalog .allposts{
	text-align: center;
	padding-bottom: 40px;
}
.postcatalog .allposts a{
	text-decoration: underline !important;
	font-weight: 400;
	font-size: 16px;
	color: #df5a1a;
	display: inline-block;
	margin: 0 12px;
}
.postcatalog .allposts a:hover{
	text-decoration: none !important;
}
.postcatalog .postmob{
	display: none;
}

@media (max-width: 1200px){
	.postscust .units .unit .df{
		flex-wrap: wrap;
	}
	.postscust .units .unit .df .el3 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0;
	}
	.postscust .units .unit .df .el3 a{
		margin-left: 0;
		margin-right: 20px;
	}
	.postscust .units .unit .df .el1{
		position: absolute;
	}
	.postscust .units .unit .df .el2,.postscust .units .unit .df .el3{
		padding-left: 115px;
	}
}
@media (max-width: 768px){

	.postcatalog .postmob{
		display: block;
		width: 100%;
		margin-bottom: 16px;
		border: 1px solid #ebebeb;
		background: #ffffff;
		background: linear-gradient(to bottom, #ffffff, #d1d1d1);
		height: 46px;
		font-size: 15px;
		color: #404040;
		margin-top: 25px;
		transition: .3s;
	}
	.postcatalog .postmob:hover{
		background: linear-gradient(to top, #ffffff, #d1d1d1);
	}
	.postcatalog .tit span.titrat{
		display: none;
	}
	.postcatalog .allposts{
		padding-bottom: 0;
	}
	.postcatalog .postscust .units .unit .df .el4, .postcatalog .postscust .units .unit .df .el3 {
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    text-align: left;
    padding-left: 100px;
	}
	.postscust .units .unit .df .el3 a{
		margin-right: 20px;
		margin-left: 0;
	}
	.postscust .units .unit .df .el3{
		padding-top: 10px;
	}
	.postscust .units .unit .df .el2 .tit i{
		display: block;
		padding-top: 4px;
	}
	.postcatalog .allposts{
		text-align: left;
	}
	.postcatalog .allposts a{
		margin: 7px 10px 7px 0;
	}
	.postcatalog{
		padding-bottom: 0;
	}
	.postscust .units .unit .df{
		flex-wrap: wrap;
	}
}
@media (max-width: 400px){
	.postscust .units .unit .df .el1{
		flex-basis: 80px;
    max-width: 80px;
    min-width: 80px;
	}
	.postscust .units .unit .df .el2, .postscust .units .unit .df .el3{
		padding-left: 80px;
	}
	.postcatalog .allposts a{
		font-size: 12px;
	}
	.postscust .units{
		margin-bottom: 15px;
	}
	.postcatalog .postscust .units .unit .df .el4,.postcatalog .postscust .units .unit .df .el3{
		padding-left: 0;
	}
	.postcatalog .postscust .units .unit .df .el1 {
    flex-basis: 80px;
    max-width: 80px;
    min-width: 80px;
	}
	.postcatalog .postscust .units .unit .df .el2 {
    padding-left: 80px;
	}
	.postscust .units .unit .df .el2 p.tit{
		font-size: 14px;
	}
}