
/* Кнопка показать результаты */
.apply-filters-float-btn {
    border-radius: 8px;
    width: 80px;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    height: 44px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to top, #da4e13, #e1601e);
    font-weight: bold;
    position: absolute;
    right: -90px;
    margin-top: 14px;
    z-index: 8
}

.apply-filters-float-btn:before {
    display: block;
    content: '';
    position: absolute;
    left: -5px;
    top: 10px;
    background-image: linear-gradient(45deg, #da4e13, #f9621c);
    width: 25px;
    height: 25px;
    border-radius: 4px;
    transform: rotate(135deg);
    z-index: 0
}

.apply-filters-float-btn:after {
    border-radius: 8px;
    box-shadow: inherit;
    display: block;
    content: 'Показать';
    position: absolute;
    left: 0;
    top: 0;
    background-image: inherit;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    z-index: 1
}

.apply-filters-float-btn:hover {
    background-image: linear-gradient(to bottom, #da4e13, #f9621c);
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2)
}

.apply-filters-float-btn:hover:before {
    background-image: linear-gradient(45deg, #da4e13, #f9621c);
    box-shadow: inset -2px 0 0 0 rgba(0, 0, 0, 0.2)
}


.apply-filters-float-btn .corner {
    bottom: -30px;
    display: block;
    height: 30px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 25px
}

.apply-filters-float-btn .corner:before {
    bottom: 10px;
    color: transparent;
    content: " ";
    font-size: 0;
    left: -20px;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 20px solid transparent;
    border-right-color: #e66800
}

.apply-filters-float-btn .corner:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-left-color: #994500;
    bottom: 0;
    color: transparent;
    content: " ";
    font-size: 0;
    left: 10px;
    position: absolute;
    z-index: -1
}

.apply-filters-float-btn:hover .corner:before {
    border-right-color: #da4e13
}

.apply-filters-float-btn:hover .corner:after {
    border-left-color: #f9621c
}

.apply-filters-float-btn .sk-wave {
    position: absolute;
    z-index: 1111;
    left: 0;
    top: 19px;
    text-align: center;
    width: 77px;
    font-size: 12px;
    font-weight: normal;
}

@media (max-width: 992px) {
    .apply-filters-float-btn {
        right: 10px;
    }
}


.sk-wave {
    width: 6em;
    height: 16px;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

.sk-wave .sk-rect {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0 1px;
    width: 2px;
    display: inline-block;
    -webkit-animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
    animation: sk-wave-stretch-delay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect-1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.sk-wave .sk-rect-2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-wave .sk-rect-3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-wave .sk-rect-4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-wave .sk-rect-5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-wave-stretch-delay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-wave-stretch-delay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
