.card-goods .sncardsidebarcard > .sncardsidebarcard-right .sncard-slinfo a.sncardlike.sncardlike-vesi {
    background: url(../images/sncardlikevesi.png) no-repeat left top;
    margin-top: 0px;
    padding-top: 2px;
}

.card-goods .sncard-slinfo .comparison i {
    font-weight: 700;
    font-size: 18px;
    margin-right: 3px;
    position: relative;
    top: 1px;
}
.btn_favorite {
    position: absolute;
    right: 5px;
    top: 8px;
    width: 20px;
    height: 20px;
	overflow: hidden;
    z-index: 7;
}

.btn_favorite .msfavorites span {
    width: 20px;
    height: 20px;
    font-size: 13px;
    padding-left: 24px;
    color: #2399e2;
    text-decoration: none !important;
    position: relative;
    display: inline-block;
    opacity: 0.9;
}

.btn_favorite .msfavorites span.msfavorites-text-add {
    opacity: 0.6;
}

.btn_favorite .msfavorites span:hover {
    opacity: 1;
}

.btn_favorite .msfavorites .msfavorites-text-add {
    background: url(../images/sncardlike.png) no-repeat left center;
}

.btn_favorite .msfavorites .msfavorites-text-remove {
    background: url(../images/sncardlikeadd.png) no-repeat left center;
}