.nodesk {
  display: none;
}

.imgwr.imgwr_letter {
  height: 197px;
}

.the_buttons.text-center.pb12 {
  padding-bottom: 12px;
}

.the_buttons.text-center .btn {
  height: 50px;
  padding: 0 31px;
  font-size: 13px;
  min-width: 235px;
}

.new_cart_modals .fast_order_wrap .mob_form.numborder {
  margin-bottom: 3px;
}

.mod_fast_order .mob_form_check.mb20 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .new_cart_modals .the_title img {
    width: 18px;
  }
  .imgwr.imgwr_letter {
    height: 186px;
  }
  .new_cart_modals .fast_order_wrap .mob_form {
    height: 84px;
  }
  .mod_fast_order .mob_form_check.mb20 {
    margin-bottom: 25px;
  }
  .the_buttons.text-center .btn {
    width: 100%;
    height: 40px;
  }
  .new_cart_modals .the_title {
    margin-bottom: 19px;
  }
  .nodesk {
    display: block;
    width: 100%;
  }
  .nomob {
    display: none;
  }
  .new_cart_modals .fast_order_wrap .img_wr img.nodesk {
    margin-left: 0;
  }
}

/*letter_cart page*/
.letter_cart_text {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 62px;
}

.letter_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 94px;
}

.letter_cart_card {
  min-width: calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
  text-align: center;
}

.letter_cart_img img {
  width: 100%;
  margin-bottom: 20px;
}

.letter_cart_link {
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #DE5617;
  border-radius: 3px;
  line-height: 46px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.letter_cart_link:hover {
  background: #DE5617;
  color: #ffffff;
}

.letter_cart_link.active {
  background: #DE5617;
  color: #ffffff;
}

.letter_cart_link.active:hover {
  background: #ffffff;
  color: #000000;
}

@media screen and (max-width: 992px) {
  .letter_cart_link {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .letter_cart_text {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 500px) {
  .letter_cart_link {
    width: 180px;
    line-height: 36px;
    text-transform: none;
  }
  .letter_cart {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .letter_cart_card {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .letter_cart_card.order_mob1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .letter_cart {
    padding-bottom: 65px;
  }
}
