.comparison .comparison-add {display:inline-block;}
.comparison .comparison-go,
.comparison .comparison-total {display:none;}

.comparison.added .comparison-add {display:none;}
.comparison.added .comparison-remove,
.comparison.added.can_compare .comparison-go,
.comparison.added.can_compare .comparison-total {display:inline-block;}

.comparison .loading {opacity: .7;cursor:default;}
.comparison .loading:hover {text-decoration: none;}

.comparison-table .comparison-corner {text-align: center;vertical-align: bottom;padding-bottom: 1em;}
/* .comparison-table .same {display: none;} */

.comparison-table .field-price {
	font-weight: bold;
}