
.vacant .val{
    display: none;
}
.vacant .val.active{
    display: block;
}
.vacant .val h6{
    padding-top: 5px;
    font-weight: 600;
    margin-bottom: 15px;
}
.vacant .unit{
    padding-bottom: 10px;
}
.vacant .val ul li{
    font-size: 15px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 32px;
}
.vacant .val ul li:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #777;
    left: 0;
    top: 5px;
}
.vacant .val p{
    font-size: 15px;
    margin-bottom: 14px;
}
.vacant .val .vcompany p.t1{
    color: #4e466c;
    font-size: 16px;
    margin-bottom: 5px;
}
.vacant .val .vcompany p.tex1{
    font-size: 12px;
    margin-bottom: 18px;
}
.vacant{
    padding-top: 5px;
    padding-bottom: 50px;
}
.vacant .tit{
    font-size: 20px;
    color: #4e466c;
    font-weight: 400;
    margin-bottom: 10px;
    cursor: pointer;
    border-bottom: 1px dashed;
    display: inline-block;
}
.vacant .cost{
    font-size: 16px;
    color: #676767;
    margin-bottom: 20px;
}